[Unit]
Description=Kubernetes port-forward for Vault (homelab-k3d)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=2
WorkingDirectory=%h/Projekts/Space/homelab-k3d
ExecStart=%h/Projekts/Space/homelab-k3d/scripts/port-forward-vault.sh

[Install]
WantedBy=default.target
